# Calibration Menu - Cartesian

[menu __main __setup __calib __bedscrews]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and (printer.configfile.config["printer"]["kinematics"] == "cartesian")}
name: Bed Screw Adj.
gcode: ADJUST_SCREWS

[menu __main __setup __calib __cart_calib_man]
type: list
enable: {(not printer.idle_timeout.state == "Printing") and (printer.configfile.config["printer"]["kinematics"] == "cartesian")}
name: Cart cal. man

[menu __main __setup __calib __cart_calib_man __start]
type: command
name: Start probing
gcode:
    G28
    PROBE_CALIBRATE

# Need to check this Menu Item!
[menu __main __setup __calib __cart_calib_man __move_z]
type: input
name: Move Z: {'%03.2f' % menu.input}
input: {printer.gcode_move.gcode_position.z}
input_step: 1
realtime: True
gcode:
    {%- if menu.event == 'change' -%}
        G1 Z{'%.2f' % menu.input}
    {%- elif menu.event == 'long_click' -%}
        G1 Z{'%.2f' % menu.input}
        SAVE_GCODE_STATE NAME=__move__axis
        G91
        G1 Z2
        G1 Z-2
        RESTORE_GCODE_STATE NAME=__move__axis
    {%- endif -%}

[menu __main __setup __calib __cart_calib_man __test_z]
type: input
name: Test Z: {['++','+','+.01','+.05','+.1','+.5','-.5','-.1','-.05','-.01','-','--'][menu.input|int]}
input: 6
input_min: 0
input_max: 11
input_step: 1
gcode:
    {%- if menu.event == 'long_click' -%}
        TESTZ Z={['++','+','+.01','+.05','+.1','+.5','-.5','-.1','-.05','-.01','-','--'][menu.input|int]}
    {%- endif -%}

[menu __main __setup __calib __cart_calib_man __accept]
type: command
name: Accept
gcode: ACCEPT

[menu __main __setup __calib __cart_calib_man __save]
type: command
name: Save
gcode: SAVE_CONFIG

[menu __main __setup __calib __cart_calib_man __abort]
type: command
name: Abort
gcode: ABORT

[menu __main __setup __calib __delta_calib_auto]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and (printer.configfile.config["printer"]["kinematics"] == "delta")}
name: Delta cal. auto
gcode:
    G28
    DELTA_CALIBRATE

[menu __main __setup __calib __delta_calib_man]
type: list
enable: {(not printer.idle_timeout.state == "Printing") and (printer.configfile.config["printer"]["kinematics"] == "delta")}
name: Delta cal. man
