#######################################
# Modified Ender 3 Pro Klipper config #
#######################################

# By Forward Amusements

# See the example.cfg file for a description of available parameters.

# Include these config files:

# Stepper drivers
[include tmc2208.cfg]

# BL-Touch
[include bltouch.cfg]

# Bed Leveling
[include bedlevel.cfg]

# Macros
[include macros.cfg]

# Menu
[include menu.cfg]


# This file contains common pin mappings for the BIGTREETECH SKR V1.3
# board. To use this config, the firmware should be compiled for the
# LPC1768.

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
step_distance: .0125
endstop_pin: P1.29  # P1.28 for X-max
position_endstop: 0
position_max: 320
homing_speed: 50

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
step_distance: .0125
endstop_pin: P1.27  # P1.26 for Y-max
position_endstop: 0
position_max: 300
homing_speed: 50

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
step_distance: .0025
endstop_pin: probe:z_virtual_endstop
#endstop_pin: P1.25  # P1.24 for Z-max
#position_endstop: 0.5
position_max: 400

#E3D V6 Hotend, SeeMeCNC EZR Struder
[extruder]
max_extrude_only_distance: 100.0
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
step_distance: .010395
#step_distance: .010526
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
#sensor_type: EPCOS 100K B57560G104F
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.24
#control: pid
#pid_Kp: 28.071
#pid_Ki: 1.497
#pid_Kd: 131.581
min_temp: 0
max_temp: 300
min_extrude_temp: 140

#pressure_advance: 0.2942 # Old PLA setting with original hotend and extruder
#pressure_advance: 0.786 # PETG
#   The amount of raw filament to push into the extruder during
#   extruder acceleration. An equal amount of filament is retracted
#   during deceleration. It is measured in millimeters per
#   millimeter/second. The default is 0, which disables pressure
#   advance.
#pressure_advance_smooth_time: 0.040
#   A time range (in seconds) to use when calculating the average
#   extruder velocity for pressure advance. A larger value results in
#   smoother extruder movements. This parameter may not exceed 200ms.
#   This setting only applies if pressure_advance is non-zero. The
#   default is 0.040 (40 milliseconds).

#[extruder1]
#step_pin: P0.1
#dir_pin: P0.0
#enable_pin: !P0.10
#heater_pin: P2.4
#sensor_pin: P0.25
#...

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
#control: pid
#pid_Kp: 71.453
#pid_Ki: 1.191
#pid_Kd: 1071.796
min_temp: 0
max_temp: 130

[fan]
pin: P2.3
kick_start_time: 0.200
off_below: 0.10

[mcu]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00

[virtual_sdcard]
path: /home/pi/sdcard

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[display]
lcd_type: st7920
cs_pin: P1.22
sclk_pin: P1.21
sid_pin: P1.23
encoder_pins: ^P1.20, ^P1.18
click_pin: ^!P0.28

[output_pin beeper]
pin: P1.30
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001
scale: 1000

# Moonraker API for Mainsail
[api_server]
trusted_clients:
 192.168.1.0/24
 127.0.0.0/24

######################################################################
# Additional fans
######################################################################

# Heater cooling fans (one may define any number of sections with a
# "heater_fan" prefix). A "heater fan" is a fan that will be enabled
# whenever its associated heater is active. By default, a heater_fan
# has a shutdown_speed equal to max_power.
[heater_fan my_nozzle_fan]
pin: P2.4
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: false
kick_start_time: 0.100
#   See the "fan" section in example.cfg for a description of the
#   above parameters.
heater: extruder
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 40.0
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.453
#*# pid_ki = 1.191
#*# pid_kd = 1071.796
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.071
#*# pid_ki = 1.497
#*# pid_kd = 131.581
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.341250, 0.163750, 0.145000, 0.251250, 0.426250
#*# 	0.217500, 0.063750, 0.030000, 0.117500, 0.265000
#*# 	0.216250, 0.045000, -0.007500, 0.060000, 0.201250
#*# 	0.235000, 0.080000, 0.042500, 0.111250, 0.246250
#*# 	0.217500, 0.121250, 0.092500, 0.170000, 0.336250
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 18.0000000001
#*# max_x = 212.0
#*# min_y = 23.0000000001
#*# max_y = 238.0
